/* RESET
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
*/
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

body {
    background-color: rgb(251, 251, 251);
    font-family: "Courier New", Courier, monospace
}
/* NAV BAR */

.schedule {
  padding: 1rem;
  display: flex;
  font-size: 2rem;
  align-items: baseline;
  justify-content: flex-end;
  /* border: 2px solid red; */
  /* flex: right; */
  /* margin: auto; */
}
.link {
  border: 2px solid black;
  background-color: rgb(0, 0, 121);
  color: white;
  font-weight: bold;
  padding: .5rem 2rem;
  margin: 0 .3rem;
}

/* .toggle-menu {
    font-size: 1.9rem;
    margin:  2rem 6rem;
} */
a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;

}
 a :hover {
    color: rgb(2, 19, 172);
}

/* TOP */

header {
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    width:100%;
  }

  .top {
    display: flex;
    margin: 9rem 6rem;
  }
  .header {
    flex: 50%;
  }
  .top h1 {
    margin-right: 6rem;
    font-size: 8.5rem;
    color: rgb(19, 19, 19);
    font-family: 'Black Ops One', cursive;
  }
  .top h2 {
    font-family: 'Black Ops One', cursive;
  }
 
  .float {
    background-color: rgb(255, 255, 255);
    border: 2px solid black; 
    margin: auto;
    font-size: 1.5rem; 
    text-align: left;
    padding: 2rem;
    width:50%;
    /* position:absolute; 
     z-index:100;
    left:50%;
    top: 30.5%; */
  }
  header h1 {
    color: rgb(11, 3, 0);
  }

  .bottom {
    background-color: whitesmoke;
  }

.content {
 display: flex;
 font-size: 5rem;
 flex-wrap: nowrap;
 justify-content: space-around;
 background-color: rgb(0, 10, 100);
}
.about-me {
  border: 2px solid red;
  padding: 10rem;
  background-color: burlywood;
}
 .above{
    padding: 3rem;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 4rem;
    background-image: url("https://images.pexels.com/photos/1669754/pexels-photo-1669754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.services {
  /* border: 2px solid black; */
  background-image:  url("https://images.pexels.com/photos/1669754/pexels-photo-1669754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 3rem; */
  padding: 3rem;
  text-align: center;
  color: black;
  font-size: 3.5rem;
  font-family: 'Black Ops One', cursive;

}

.row {
  /* margin-top: 5rem; */
  display: flex;
  /* background-color: black; */
  position: relative;
}
.row p {
  /* border: 2px solid black; */
  background-color: rgb(255, 255, 255);
  width: 25%;
  position: absolute; 
  bottom: 0;
}
.column {
  padding: 19rem 0;
  flex: 50%;
  text-align: center;
  font-size: 3.5rem;
  color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: .2rem;
  margin-left: .2rem;
  margin-right: .2rem; */
}
.first {
  background-color: whitesmoke;
  background-image: linear-gradient(#3a3a3a69, #3a3a3a69, transparent), url("https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  /* margin-right: 1rem; */
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  


}
.second {
  background-color: rgb(238, 238, 238);
  background-image: linear-gradient(#1d1d1d69, #1d1d1d69, transparent),url("https://images.unsplash.com/photo-1580792011357-05faf84eb078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  border-bottom: 2px solid white;


}
.third{
  background-color: rgb(238, 238, 238);
  background-image: linear-gradient(#3a3a3a69, #3a3a3a69, transparent),url("https://images.unsplash.com/flagged/photo-1573168710465-7f7da9a23a15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  border-right: 2px solid white;
}
.fourth {
  background-color: whitesmoke;
background-image: linear-gradient(#3a3a3a69, #3a3a3a69, transparent), url("https://images.unsplash.com/photo-1460317442991-0ec209397118?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");

}

.bottomRow {
  
display: flex;
background-color: rgb(255, 255, 255);
color:rgb(255, 0, 0);
}

/* FOOTER */

.footer {
    text-align: center;
    background: rgb(93, 93, 93);
    color: white;
    padding: 2.5rem 0;
    font-size: 1.5rem;
}
/* .footer input {
    /* background:#2F303A;
    width: 50%;
    margin: auto;
    border: none;
    border-bottom: 2px solid whitesmoke;
    padding: 5px 0;
    margin-top: 2rem;
    font-size: 2.5rem;
    color: white; */
    
} */
/* .footer input:focus {
  outline: none;
}
.footer button {
    border: 2px solid white;
    border-radius: 1px;
    font-size: 2.5rem;
   margin: 3rem 0;
}
.copy{
    font-size: 2rem;
} */



