/* RESET
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
*/
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

body {
    background-color: rgb(251, 251, 251);
    font-family: "Courier New", Courier, monospace
}
/* NAV BAR */

.nav {
  padding: 1rem;
  display: flex;
  font-size: 2rem;
  align-items: baseline;
  justify-content: flex-end;
}
.nav h1{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2rem 2rem; 
  font-family: 'Black Ops One', cursive;
  font-size: 4rem;
}
.contact-info{

  background-color: rgb(0, 33, 93);
  color: white;
  font-weight: bold;
  padding: .5rem 2rem;
  margin: 0 .3rem;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;

}
 a :hover {
    color: rgb(2, 19, 172);
}

.initial-picture{
    padding: 20rem 2.5rem;
    font-size: 5rem;
    background-image: linear-gradient(#ffffffde, #2222224d, transparent), url("https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-me {
    padding: 5rem 2rem;
    margin: 2rem 3rem;
    font-size: 2rem;
    background-color: rgb(240, 240, 240);
    display: flex;
  }
  .about-img {
    padding: 0 3rem;
  }

  .main-services {
    padding: 1rem;
    text-align: center;
    color: black;
    font-size: 3.5rem;
    font-family: 'Black Ops One', cursive;
  
  }
  .row {
    display: flex;
  }
  .row p {

    background-color: rgba(255, 255, 255, 0.842);
    width: 50%;
    padding: 1rem 0;
  }
  .column {
    padding: 16rem 0;
    margin: 1rem 3rem;
    flex: 50%;
    text-align: center;
    font-size: 2.5rem;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .column :hover {
    background-color: rgb(255, 212, 69);
}
  .first {
    background-color: whitesmoke;
    background-image: linear-gradient(#3a3a3a69, #3a3a3a69, transparent), url("https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  }

  .second {
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(#1d1d1d69, #1d1d1d69, transparent),url("https://images.unsplash.com/photo-1580792011357-05faf84eb078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }

  .third{
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(#3a3a3a69, #3a3a3a69, transparent),url("https://images.unsplash.com/flagged/photo-1573168710465-7f7da9a23a15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }

  .fourth {
    background-color: whitesmoke;
  background-image: linear-gradient(#3a3a3a69, #3a3a3a69, transparent), url("https://images.unsplash.com/photo-1460317442991-0ec209397118?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }

  .above{
    padding: 3rem;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 4rem;
}

.bottom {
    background-color: whitesmoke;
    margin: 2rem 3rem;

  }
.bottomRow {
  display: flex;
  background-color: rgb(255, 255, 255);
  color:rgb(255, 0, 0);
}
.bottom-column{
  padding: 15rem 0;
  flex: 50%;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}



/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
    background: rgb(93, 93, 93);
    color: white;
    padding: 2.5rem 0;
    font-size: 1.3rem;
}
.address-info {
  font-size: 1.7rem;
  padding-right: 2rem;
  margin-top: 8rem;
  text-align: center;
}
.contact-form {
  text-align: center;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(12, 53, 143);
}
.contact-form h1 {
  font-size: 2.5rem;
}
.footer h2 {
  text-align: center;
}
.contact-form input {
  background-color: rgb(12, 53, 143);
  color: white;
  margin: 1.3rem 0;
  padding: .7rem 0;
  padding-right: 3rem;
  border: none;
  border-bottom: 2px solid black;
}
input:focus {
 outline: none;
}
/* #desc{
  padding-bottom: 9rem;
} */
textarea {
  background-color: rgb(12, 53, 143);
  padding-top: 1rem;
  padding-right: 2rem;
  color: white;
  border: none;
  border-bottom: 2px solid black;
}
textarea:focus {
  outline: none;
}
::placeholder {
  color: white;
}

/* .form-box {

  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
} */
/* .form-box h1 {
  color: red;
  text-align: center;
} */
/* .footer input {
    border-radius: 1rem;
    background:#2F303A;
    border: none;
    padding: 1rem;
  
    font-size: 2rem;
    color: white; 
    margin: 2rem 2rem;
}  */
/* .desc {
  padding: 10rem 0;
}
.footer input:focus {
  outline: none;
} */

/* .copy{
    font-size: 2rem;
}  */



