@media only screen and (max-width: 700px) {
    .nav {
        font-size: 1.2rem;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
    }
    .nav h1{
        padding: 6rem 3rem; 
      }
    .contact-info{
       font-size: .8rem;
       padding: .6rem;
       color: black;
       background-color: rgb(211, 211, 211);
      }
      /* .cont{
        display: none;
      } */
      .contact-info p{
        color: white;
      }

    .initial-picture {
        background-attachment:scroll;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* text-align: center; */
    }
    .about-me h1 {
        text-align: center;
        font-weight: bold;
    }
    .about-me img {
        padding: 2rem 0;
        width: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
      .bottomRow {
          display: flex;
          flex-direction: column;
      }
      .footer {
        display: flex;
        flex-direction: column;
      }
      .address-info {
        text-align: center;
      }
      .contact-form {
        /* margin-top: 3rem; */
        margin: 1.3rem 0;
      }
   
}